[Unit]
Description=check ABI of submit requests

[Service]
Type=simple
ExecStart=/usr/bin/screen -DmS abichecker /usr/share/osc-plugin-factory/abichecker/abichecker.py --no-review --verbose -A https://api.suse.de --web-url=http://abichecker.suse.de project --interval 15 SUSE:Maintenance maintenance_incident
ExecStop=/usr/bin/screen -S abichecker -X quit
WorkingDirectory=/usr/share/osc-plugin-factory/abichecker
User=_opensuse.org-abi-checker
