language: python
python:
  - 3.3
  - 2.7
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install python-coveralls
  - pip install -r requirements.txt
# command to run tests, e.g. python setup.py test
script:
  - nosetests --with-coverage --cover-package=oscs,osclib --cover-inclusive
after_sucess:
  - coveralls
matrix:
  allow_failures:
    - python: 3.3
