main {
  clear: both;
}

section, aside, #details {
  float: left;
}

section {
  min-width: 700px;
  height: 100%;
}

section #project-table {
  height: inherit;
  margin-bottom: 0;
}

aside {
  min-width: 400px;
  max-width: 600px;
  display: none;
}

#details {
  display: none;
  min-width: 600px;
  max-width: 800px;
  height: 100%;
  overflow: auto;
}

#details p {
  margin: 20px;
}
