# vim:syntax=sh

micro_version=5.2
qu="" # empty string for GA, QuarterlyUpdate repins have -N in version
logfile_base=~/publish_logs/$micro_version/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/distribution/leap-micro/$micro_version/product"
flavors=(DVD-x86_64 DVD-aarch64)

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/iso/openSUSE-Leap-Micro-$micro_version$qu-$flavor-Build[0123456789]*.[0123456789]*-Media.iso`
		version=${version##*Build}
		version=${version%-*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

get_iso() 
{
	iso="openSUSE-Leap-Micro-$micro_version$qu-$flavor-Build$version-Media.iso"
}

get_iso_link() 
{
	link="$stage/iso/openSUSE-Leap-$micro_version$qu-$flavor-Current.iso"
}

get_diff_url()
{
	url="$diff_url_base/$micro_version/diff/$version"
}

get_mark_published_url()
{
	url="$diff_url_base/$micro_version/current"
}

get_changes_filename()
{
        # ChangeLog files from obsgendiff are used instead
        #changes="$changes_dir_base/jump/$jump_version/Changes.$version.txt"
        :
#	changes="$changes_dir_base/leap/$micro_version/Changes.$version.txt"
}
