# vim:syntax=sh

logfile_base=~/publish_logs/tumbleweed/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/tumbleweed"
flavors=(DVD-x86_64 NET-x86_64 GNOME-Live-x86_64 KDE-Live-x86_64 Rescue-CD-x86_64 \
	 DVD-i586   NET-i586   GNOME-Live-i686   KDE-Live-i686   Rescue-CD-i686)

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/iso/openSUSE-Tumbleweed-$flavor-Snapshot????????-Media.iso`
		version=${version##*Snapshot}
		version=${version%-*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

get_iso() 
{
	iso="openSUSE-Tumbleweed-$flavor-Snapshot$version-Media.iso"
}

get_iso_link() 
{
	link="$stage/iso/openSUSE-Tumbleweed-$flavor-Current.iso"
}

get_diff_url()
{
	url="$diff_url_base/tumbleweed/diff/$version"
}

get_mark_published_url()
{
	url="$diff_url_base/tumbleweed/current"
}

get_changes_filename()
{
	local year=`date +%Y`
	changes="$changes_dir_base/tumbleweed/$year/Changes.$version.txt"
}
