# vim:syntax=sh

micro_version=5.3
release=0
logfile_base=~/publish_logs/$micro_version-appliances/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/distribution/leap-micro/$micro_version/appliances"
flavors=(Default Default-RT Default-SelfInstall)
repos=()
extra_repos=()
isodir=""

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/openSUSE-Leap-Micro.x86_64-$micro_version.$release-$flavor-Build*.raw.xz`
		version=${version##*Build}
		version=${version%.*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

_get_iso()
{
	local snapshot="$1"
	local suffix=xz
#	echo "openSUSE-Leap-Micro-$micro_version-JeOS.x86_64-$micro_version.0-$flavor-$snapshot.$suffix"
	echo "openSUSE-Leap-Micro.x86_64-$micro_version.$release-$flavor-$snapshot.$suffix"
}

get_iso()
{
	iso=`_get_iso "Build$version"`
}

get_iso_link()
{
	link="$stage/`_get_iso Current`"
}

get_diff_url()
{
	url=""
}

get_mark_published_url()
{
	url=""
}

get_changes_filename()
{
	changes=""
}
