# vim:syntax=sh

leap_version=15.2
logfile_base=~/publish_logs/$leap_version-jeos/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/distribution/leap/$leap_version/jeos"
flavors=(kvm-and-xen MS-HyperV OpenStack-Cloud VMware XEN)
repos=()
extra_repos=()
isodir=""

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/openSUSE-Leap-$leap_version-JeOS.x86_64-$leap_version.?-$flavor-Snapshot*.qcow2`
		version=${version##*Snapshot}
		version=${version%.*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

_get_iso() 
{
	local snapshot="$1"
	local suffix=qcow2
	if [ "$flavor" = 'MS-HyperV' ]; then
		suffix=vhdx.xz
	elif [ "$flavor" = 'VMware' ]; then
		suffix=vmdk.xz
	fi
	echo "openSUSE-Leap-$leap_version-JeOS.x86_64-$leap_version.0-$flavor-$snapshot.$suffix"
}

get_iso()
{
	iso=`_get_iso "Snapshot$version"`
}

get_iso_link() 
{
	link="$stage/`_get_iso Current`"
}

get_diff_url()
{
	url=""
}

get_mark_published_url()
{
	url=""
}

get_changes_filename()
{
	changes=""
}
