# vim:syntax=sh

leap_version=15.2
logfile_base=~/publish_logs/$leap_version-live/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/distribution/leap/$leap_version/live"
flavors=(GNOME-Live-x86_64 KDE-Live-x86_64 Rescue-CD-x86_64)
repos=()
extra_repos=()
isodir=""

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/openSUSE-Leap-$leap_version-$flavor-Snapshot*-Media.iso`
		version=${version##*Snapshot}
		version=${version%-*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

get_iso() 
{
	iso="openSUSE-Leap-$leap_version-$flavor-Snapshot$version-Media.iso"
}

get_iso_link() 
{
	link="$stage/openSUSE-Leap-$leap_version-$flavor-Current.iso"
}

get_diff_url()
{
	url=""
}

get_mark_published_url()
{
	url=""
}

get_changes_filename()
{
	changes=""
}
