# vim:syntax=sh

leap_version=15.4
qu="" # empty string for GA, QuarterlyUpdate repins have -N in version
logfile_base=~/publish_logs/$leap_version/$(date -d "$date" '+%Y/%m/%d/%H%M')
synclog="${logfile_base}.log"
deletelog="${logfile_base}-deletes.log"
path="/distribution/leap/$leap_version"
flavors=(DVD-x86_64 NET-x86_64 DVD-aarch64 NET-aarch64 DVD-ppc64le NET-ppc64le DVD-s390x NET-s390x)

get_version() {
	# get expected version from first flavor
	if [ -z "$version" ]; then
		version=`echo $stage/iso/openSUSE-Leap-$leap_version$qu-$flavor-Build[0123456789]*.[0123456789]*-Media.iso`
		version=${version##*Build}
		version=${version%-*}
		if [ -z "$version" ]; then
			echo "no version found, exit." | tee -a $synclog
			exit 1
		fi
	fi
}

get_iso() 
{
	iso="openSUSE-Leap-$leap_version$qu-$flavor-Build$version-Media.iso"
}

get_iso_link() 
{
	link="$stage/iso/openSUSE-Leap-$leap_version$qu-$flavor-Current.iso"
}

get_diff_url()
{
	url="$diff_url_base/$leap_version/diff/$version"
}

get_mark_published_url()
{
	url="$diff_url_base/$leap_version/current"
}

get_changes_filename()
{
        # ChangeLog files from obsgendiff are used instead
        #changes="$changes_dir_base/jump/$jump_version/Changes.$version.txt"
        :
#	changes="$changes_dir_base/leap/$leap_version/Changes.$version.txt"
}

