[Service]
User=openSUSE-release-tools
SyslogIdentifier=openSUSE-release-tools
EnvironmentFile=/etc/openSUSE-release-tools/ibsapi
ExecStart=/usr/bin/osrt-verify-build-and-generatelists %i
