[Unit]
Description=openSUSE Release Tools: origin-manager

[Timer]
OnBootSec=120
OnUnitInactiveSec=5 min
Unit=osrt-origin-manager.service

[Install]
WantedBy=timers.target
