[Unit]
Description=openSUSE Release Tools: staging-bot regular for %i (rebuild staging project if support package staged)

[Service]
Type=oneshot
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/osrt-suppkg_rebuild -p "%i"

[Install]
WantedBy=multi-user.target
