[Unit]
Description=openSUSE Release Tools: supersede duplicate submissions for %i

[Timer]
OnBootSec=120
OnUnitInactiveSec=4 min
Unit=osrt-staging-bot-supersede@%i.service

[Install]
WantedBy=timers.target
