[Unit]
Description=openSUSE Release Tools: repo-checker

[Timer]
OnBootSec=120
OnUnitInactiveSec=5 min
Unit=osrt-repo-checker.service

[Install]
WantedBy=timers.target
