[Unit]
Description=openSUSE Release Tools: staging-bot comment openQA/build results on stagings in %i

[Service]
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/osrt-openqa-comments -p "%i"
RuntimeMaxSec=6 hour

[Install]
WantedBy=multi-user.target
