[Unit]
Description=service for osrt_legal-auto-import running as %i
After=network-online.target

[Service]
Type=oneshot
User=osrt-staging
EnvironmentFile=/etc/default/osrt-legal-auto-%i.env
WorkingDirectory=/var/lib/osrt-staging/legal-auto
ExecStartPre=/bin/bash -xc '/usr/bin/systemctl is-active --quiet osrt-legal-auto-import@%i.service && exit 1 || exit 0'
ExecStart=/usr/bin/legal-auto -A ${LEGAL_AUTO_OBS_API} --debug --legaldb "${LEGAL_AUTO_CAVIL_URL}" project "${LEGAL_AUTO_IMPORT_PROJECT}"
