[Unit]
Description=openSUSE Release Tools: metrics for %i

[Service]
User=osrt-metrics
SyslogIdentifier=osrt-metrics
ExecStart=/usr/bin/osrt-metrics --debug -p "%i"

[Install]
WantedBy=multi-user.target
