[Unit]
Description=openSUSE Release Tools: check-source

[Service]
Type=simple
User=osrt-check-source
SyslogIdentifier=osrt-check-source
# TODO Drop group flag once #1181 is resolved.
ExecStart=/usr/bin/osrt-check_source --verbose --group factory-auto review

[Install]
WantedBy=multi-user.target
