[Unit]
Description=timer for osrt-legal-auto-import running as %i

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
