[Unit]
Description=openSUSE Release Tools: staging-bot regular for %i

[Timer]
OnBootSec=120
OnUnitInactiveSec=60 min
Unit=osrt-staging-bot-regular@%i.service

[Install]
WantedBy=timers.target
