[Unit]
Description=openSUSE Release Tools: staging-bot check for duplicate binaries produced in %i

[Service]
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/osc staging -p "%i" check_duplicate_binaries --save

[Install]
WantedBy=multi-user.target
