[Unit]
Description=openSUSE Release Tools: leaper manager for %i (set source projects)

[Service]
Type=simple
User=osrt-leaper
ExecStart=/usr/bin/osrt-manager_42 -c /etc/openSUSE-release-tools/manager_42/%i.yml

[Install]
WantedBy=multi-user.target
