[Unit]
Description=openSUSE Release Tools: repo-checker

[Service]
Type=oneshot
User=osrt-repo-checker
SyslogIdentifier=osrt-repo-checker
ExecStart=/usr/bin/osrt-repo_checker --debug review
TimeoutStartSec=8 hour

[Install]
WantedBy=multi-user.target
