[Unit]
Description=openSUSE Release Tools: origin-manager

[Service]
User=osrt-origin-manager
SyslogIdentifier=osrt-origin-manager
ExecStart=/usr/bin/osrt-origin-manager --debug review
RuntimeMaxSec=3 hour

[Install]
WantedBy=multi-user.target
