[Unit]
Description=openSUSE Release Tools: staging-bot check for duplicate binaries produced in %i

[Timer]
OnCalendar=daily
Unit=osrt-staging-bot-check_duplicate_binaries@%i.service

[Install]
WantedBy=timers.target
