[Unit]
Description=openSUSE Release Tools: leaper review

[Service]
User=osrt-leaper
ExecStart=/usr/bin/osrt-leaper --verbose --manual-version-updates --manual-maintenance-updates review

[Install]
WantedBy=multi-user.target
