[Unit]
Description=openSUSE Release Tools: maintenance incidents

[Service]
Type=simple
User=osrt-maintenance
ExecStart=/usr/bin/osrt-check_maintenance_incidents --verbose review

[Install]
WantedBy=multi-user.target
