[Unit]
Description=openSUSE Release Tools: metrics for %i

[Timer]
OnBootSec=120
# TODO #1244: improve incremental data ingest
# OnCalendar=daily
OnCalendar=weekly
Unit=osrt-metrics@%i.service

[Install]
WantedBy=timers.target
