[Unit]
Description=openSUSE Release Tools: repo-checker

[Service]
User=osrt-repo-checker
SyslogIdentifier=osrt-repo-checker
ExecStart=/usr/bin/osrt-repo_checker --debug review

[Install]
WantedBy=multi-user.target
