[Unit]
Description=openSUSE Release Tools: OBS Operator origin-manager report for %i

[Service]
User=osrt-obs-operator
SyslogIdentifier=osrt-obs-operator-origin-manager
ExecStart=/usr/bin/osc origin -p "%i" report --force-refresh
RuntimeMaxSec=24 hour

[Install]
WantedBy=multi-user.target
