[Unit]
Description=openSUSE Release Tools: generate package lists for %i

[Service]
User=osrt-repo-checker
ExecStart=/usr/bin/osrt-pkglistgen update_and_solve -p "%i"

[Install]
WantedBy=multi-user.target
