[Unit]
Description=openSUSE Release Tools: staging-bot reminder

[Service]
Type=oneshot
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/env bash -c ' \
  /usr/bin/osrt-devel-project reviews --min-age 3 --remind && \
  /usr/bin/osrt-devel-project requests --min-age 3 --remind \
  '
TimeoutStartSec=3 hour

[Install]
WantedBy=multi-user.target
