[Unit]
Description=openSUSE Release Tools: leaper crawler for %i (creates SRs from upstream projects)

[Service]
User=osrt-leaper
ExecStart=/bin/bash "/usr/bin/osrt-leaper-crawler-%i"

[Install]
WantedBy=multi-user.target
