[Unit]
Description=timer for osrt-check_source on gitea running as %i

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
