[Unit]
Description=openSUSE Release Tools: metrics for %i

[Service]
User=osrt-metrics
SyslogIdentifier=osrt-metrics
# TODO #1244: improve incremental data ingest
# ExecStart=/usr/bin/osrt-metrics --debug -p "%i"
ExecStart=/usr/bin/osrt-metrics --debug -p "%i" --wipe-cache

[Install]
WantedBy=multi-user.target
