[Unit]
Description=openSUSE Release Tools: OBS Operator origin-manager cron

[Service]
User=osrt-obs-operator
SyslogIdentifier=osrt-obs-operator-origin-manager
ExecStart=/usr/bin/osc origin cron
RuntimeMaxSec=48 hour

[Install]
WantedBy=multi-user.target
