[Unit]
Description=openSUSE Release Tools: staging-bot regular for %i (rebuild staging project if support package staged)

[Timer]
OnBootSec=120
OnUnitInactiveSec=60 min
Unit=osrt-staging-bot-support-rebuild@%i.service

[Install]
WantedBy=timers.target
