[Unit]
Description=openSUSE Release Tools: staging-bot daily for %i

[Service]
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/env bash -c ' \
  osc staging -p "%i" unignore --cleanup \
  '

[Install]
WantedBy=multi-user.target
