[Unit]
Description=openSUSE Release Tools: staging-bot report on staging status of %i

[Service]
User=osrt-staging-bot
SyslogIdentifier=osrt-staging-bot
ExecStart=/usr/bin/osrt-staging-report --debug -p "%i"
RuntimeMaxSec=6 hour

[Install]
WantedBy=multi-user.target
