[Unit]
Description=openSUSE Release Tools: Sync openQA status

[Service]
User=osrt-rabbit-openqa
ExecStart=/usr/bin/osrt-rabbit-openqa

[Install]
WantedBy=multi-user.target
