[Service]
User=sysuser
SyslogIdentifier=sysuser
EnvironmentFile=/etc/openSUSE-release-tools/ibsapi
ExecStart=/usr/bin/osrt-verify-build-and-generatelists %i
