{% set progress = project.build_summary(repository) %}
{% if progress['building'] >= 0 %}
  {% if progress['building'] < 10000 %}
    {{ progress['building'] / 100}}% done
  {% else %}
    done
  {% endif %}
  {% if progress['failed'] > 0 %}
, <a href="https://build.opensuse.org/project/monitor/{{ project.name }}?failed=1&defaults=0&repo_{{repository}}=1&{{project.all_archs}}">{{ progress['failed'] }} failed</a>
  {% endif %}
  {% if progress['broken'] > 0 %}
, <a href="https://build.opensuse.org/project/monitor/{{ project.name }}?broken=1&defaults=0&repo_{{repository}}=1&{{project.all_archs}}">{{ progress['broken'] }} broken</a>
  {% endif %}
  {% if progress['unresolvable'] > 0 %}
, <a href="https://build.opensuse.org/project/monitor/{{ project.name }}?unresolvable=1&defaults=0&repo_{{repository}}=1&{{project.all_archs}}">{{ progress['unresolvable'] }} unresolvable</a>
  {% endif %}
{% else %}
  n.a.
{% endif %}
